<h3>This is my App products</h3>

<table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Date</th>
        <th>Rating</th>
        <th>Description</th>
        <th><button class="btn btn-success" (click)="ToggleImage()">{{showImage?"Hide Image":"Show Image"}}</button></th>        
      </tr>
    </thead>
    <tbody *ngIf="appProducts && appProducts.length; else noDataApp">
      <tr *ngFor="let appProduct of appProducts | ProductSearchPipe:filterValue">
        <td>{{appProduct.Name | uppercase }}</td>
        <td [ngStyle]="{'background-color': appProduct.Price>5000?'green':'red'}">
        {{appProduct.Price | currency:"₹" }}</td>
        <td>{{appProduct.date | date:"MM/dd/yy"}}</td>
        <td>
          <app-star [rating] = "appProduct.rating" (ratingClicked)="onDataRecive($event)"></app-star>
        </td>
        <td>{{appProduct.desc | Productsdesc}}</td>
        <td><img [src]="appProduct.img" *ngIf="showImage"/></td>
      </tr>     
    </tbody>
    <ng-template #noDataApp>
      <tbody>
        <tr>
          <td><h3>No app data available</h3></td>
        </tr>
      </tbody>
    </ng-template>    
  </table>