<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>{{title}}</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Date</th>
        <th>Rating</th>
        <th><button class="btn btn-success" (click)="ToggleImage()">Show Images</button></th>        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{product.Name}}</td>
        <td>{{product.Price}}</td>
        <td>{{product.date}}</td>
        <td>{{product.rating}}</td>
        <td><img [src]="product.img" *ngIf="showImage" /></td>
      </tr>     
    </tbody>
  </table>
</div>

</body>
</html>
