<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>


  
<div class="container">
    <div class="form-group row">       
        <div class="col-xs-3">
          <label for="ex2">Filter:</label>
          <input class="form-control" type="text" [(ngModel)]="filterValue"  />
        </div>        
    </div>
  <h2>{{title}}</h2>
  <h5> This is filter value: {{filterValue}} No:
    {{(products | ProductSearchPipe:filterValue).length}}
  </h5>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Date</th>
        <th>Rating</th>
        <th>Description</th>
        <th><button class="btn btn-success" (click)="ToggleImage()">{{showImage?"Hide Image":"Show Image"}}</button></th>        
      </tr>
    </thead>
    <tbody *ngIf="products && products.length; else noData">
      <tr *ngFor="let product of products | ProductSearchPipe:filterValue">
        <td>{{product.Name | uppercase }}</td>
        <td [ngStyle]="{'background-color': product.Price>5000?'green':'red'}">
        {{product.Price | currency:"₹" }}</td>
        <td>{{product.date | date:"MM/dd/yy"}}</td>
        <td>
          <app-star [rating] = "product.rating" (ratingClicked)="onDataRecive($event)"></app-star>
        </td>
        <td>{{product.desc | Productsdesc}}</td>
        <td><img [src]="product.img" *ngIf="showImage"/></td>
      </tr>     
    </tbody>
    <ng-template #noData>
      <tbody>
        <tr>
          <td><img src ="../../assets/ajax-loader.gif" /></td>
        </tr>
      </tbody>
    </ng-template>    
  </table>

  <div class="row">       
   <app-app_products></app-app_products>        
  </div>
  
</div>

</body>
</html>
